.idea/
node_modules/
dist/
npm-debug.log
.DS_Store
dist
scripts/*/dist
example/
src/
.babelrc
.editorconfig
.gitignore
index.html
package-lock.json
webpack.base.js
webpack.dev.js
webpack.prod.js
webpack.publish.js
